<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
     >
<head>
    <meta charset="UTF-8">
    <title>PIE</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>

</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<script>
    CanvasJS.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Browser market share'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Ratio',
            type: 'pie',
            colorByPoint: true,
            data: [ ['Chrome',[[${chrome}]] ], ['Internet Explorer',[[${internetexplorer}]]],['Safari',[[${safari}]]],['firefox',[[${firefox}]]],['Other',[[${other}]]] ]
        }]
    });
</script>
</body>
</html>